/* -------- Спецификая ---------- */
@font-face {
    font-family: 'Lifehack';
    src: local('Lifehack Bold'), local('Lifehack-Bold'),
        url('..//fonts/Lifehack-Bold.woff2') format('woff2'),
        url('..//fonts/Lifehack-Bold.woff') format('woff'),
        url('..//fonts/Lifehack-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;

}

.container {
    width: 1101px;
    margin: 0 auto;
}

div,
p,
form,
input,
span,
button,
a {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-family: tahoma;
    font-size: 13px;
    max-width: 218px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 20px 0 19px;
    background: #2D63EB;
    color: #fff;
}


/* --------Первая СЕкция -------*/

.header-section {
    background: linear-gradient(#4A7DFC 0%, #1148D3 100%);
    color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 59px 0 47px;
}

.header {
    display: flex;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    text-align: center;

}

.header-logo {
    font-family: Lifehack;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 135px;
}

.header-start__title {
    font-size: 27px;
    width: 578px;
    margin-bottom: 73px;

}

.header-button__callme {
    text-transform: uppercase;
    font-weight: 700;
    font-family: tahoma;
    font-size: 13px;
    max-width: 218px;
    width: 100%;
    
    color: #fff;
    background: linear-gradient(#4A7DFC -20%, #1148D3 120%);
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 20px 0 19px;
    margin-bottom: 137px;

}

.header-button__call-me a {
    color: #fff;
    text-decoration: none;

}

.btn:hover {
    text-decoration: underline;
    border: 1px solid #1148D3;
    cursor: pointer;
    /* border-bottom: 1px solid #1148D3; */
}


.header-check__title{
margin-top: 173px;
cursor: pointer;
    
}

/* Вторая секция */

.me-section {
    padding: 130px 0 72px;

}

.me-section__aboutme {}

.me-section__aboutme-title {
    font-size: 26px;
    text-align: center;
    /* margin-top: 130px; */
    margin-bottom: 141px;

}

.me-section__mission {
    width: 669px;
}

.me-section-content__title {
    position: relative;
    padding-bottom: 14px;
}

.me-section-content__title:before {
    content: "";
    border-bottom: 2px solid #2D63EB;
    width: 117px;
    position: absolute;
    bottom: 0;
    left: -22px;
}

.me-section__wrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.me-section_text {
    width: 669px;
    margin-top: 58px;

}

.me-section_text p {
    font-size: 15px;

}
.me-section_text  > :not(:last-child) {
    padding-bottom: 28px;
}


.colortext {
    color: #2D63EB;
    text-decoration-line: underline;
}

/* Секция Истории */
.me-section__history {
    max-width: 263px;
    width: 100%;
}

.me-section__history-title {
    margin-bottom: 45px;
}

.me-section__title {}

.me-section__history-icons  {
    margin-top: 45px;
    

}

.me-section__history-icons > :not(:last-child) {
    padding-bottom: 20px;
}

.me-section__history-icon   {
    display: flex;
    gap: 1rem;
    
}

.me-section__history-picture1 {
    padding: 8px 8px 9px 9px;
    width: 36px;
    height: 35px;
    background: #2D63EB;
    border-radius: 10px;
}


.me-section__history-icontitlestexts    {
    width: 195px;
}

.me-section__history-icontitlestexts p {
    color: #2F383B7A;
    font-size: 15px;
    margin-top: 8px;
}

.me-section__history-title  {
    font-weight: 700;
    font-size: 16px;
    color: #2D63EB;
    display: contents;

}

.me-section__history-text {
    

}

.me-section__history-picture2 {
    padding: 9px 10px 8px 11px;
    width: 31px;
    height: 36px;
    background: #2D63EB;
    border-radius: 10px;

}

.me-section__history-picture3 {
    padding: 8px 15px 9px 15px;
    width: 22px;
    height: 36px;
    background: #2D63EB;
    border-radius: 10px;
}

.me-section__history-picture4 {
    padding: 11px 8px 10px 9px;
    width: 36px;
    height: 31px;
    background: #2D63EB;
    border-radius: 10px;

}

/* Третья секция */

.whyme-section {
    padding: 71px 0 130px;
}


.whyme {}

.whyme__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 55px;

}

.reasons {
    display: flex;
}

.reason {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reason__number {
    width: 75px;
    height: 75px;
    font-size: 30px;
    border: 1px solid #FFA200;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFA200;
    background: #FFF;
    margin-inline: auto;
}

.reason:hover .reason__number {
    text-decoration: none;
    border: 1px solid #FFA200;
    cursor: pointer;
    background: #FFA200;
    color: #FFF;
}
.reason__text {
    font-weight: 700;
    font-size: 16px;
}

/* 4 секция нижний элемент */

.ithink-section {
    background: #E6E9F1;
    padding: 130px 0 130px;
}

.ithink {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.ithink-title {
    margin-bottom: 50px;
    font-size: 26px;

}

.ithink-text {
    margin-bottom: 50px;
    font-size: 14px;
    width: 417px;

}

.ithink-buttom {
    margin-bottom: 0px;
    border: 1px solid #2D63EB;
}

.btn:hover {
    text-decoration: underline;
    border: 1px solid #0849ec;
    cursor: pointer;

}

/* Подвал */
.footer-section {
    background: #06319E;
    padding: 52px 0 38px;
}



.footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.footer-text {
    margin-left: 50px;
}



 a {
    text-decoration: none;
    color: #FFFFFF80;
}

.footer-text a:hover {
    text-decoration: underline;
    color: #FFFFFF80;
}


.footer-text__three {
    color: #FFFFFF;
    border-bottom: 1px dashed #fff;
    width: 267px;
}

.footer-text__three a {
    text-decoration: none;
    color: #FFF;
}

.footer-text__three a:hover {
    text-decoration: underline;
    color: #FFFF;

}